[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"boto3" = "*"
django-storages = "*"
argparse = "*"
"psycopg2-binary" = "*"
pillow = "*"
uwsgi = "*"

[dev-packages]
ipython = "*"
jupyter = "*"
django-extensions = "*"
awsebcli = "*"

[requires]
python_version = "3.6"
